@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-900 font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .fill-from-left {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #18181b 50%, #71717a 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
}
